In [2]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:


# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.groupby(['race'])['race'].count().sort_values(ascending=False)

# What is the average age of men?
average_age_men = round(df['age'][df['sex'] == 'Male'].mean(),1)

# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df['age'][df['education'] == 'Bachelors'].count() * 100 / len(df),1)

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df['age'][(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].count()
lower_education = df['age'][~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].count()
# percentage with salary >50K
higher_education_rich = round(df['age'][(df['salary'] == '>50K') & ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].count() * 100 / higher_education,1)
lower_education_rich = round(df['age'][(df['salary'] == '>50K') & ~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].count() * 100 / lower_education,1)

# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df['hours-per-week'][df['hours-per-week'] == df['hours-per-week'].min()].count()
rich_percentage = df['hours-per-week'][(df['salary'] == '>50K') & (df['hours-per-week'] == df['hours-per-week'].min())].count() * 100 / num_min_workers

# What country has the highest percentage of people that earn >50K?
df1 = df.groupby(['native-country','salary']).agg({'salary':'count'})
df1.columns = ['salary_rich_count']
df1.reset_index(inplace = True)
df_rich = df1[df1['salary'] == '>50K']
df_rich.reset_index(inplace = True)
df_rich = df_rich.drop(columns='index')

df_all = df.groupby(['native-country']).agg({'native-country':'count'})
df_all.columns = ['overall_count']
df_all.reset_index(inplace = True)

df3 = pd.merge(df_all, df_rich, how='inner', on=['native-country', 'native-country'])
df3['percentage'] = df3['salary_rich_count'] * 100 / df3['overall_count']
df3 = df3.sort_values(by='percentage', ascending=False)


highest_earning_country = df3['native-country'].values[0]
highest_earning_country_percentage = round(df3['percentage'].values[0],1)


# Identify the most popular occupation for those who earn >50K in India.
df_india_rich = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
dff = df_india_rich.groupby(['occupation']).agg({'salary':'count'})

top_IN_occupation = dff.reset_index().sort_values(by='salary', ascending=False)['occupation'].values[0]

In [16]:
print('1- Count per race:',race_count)
print('\n2- Average age of men:', average_age_men)
print('\n3- The percentage of people who have a Bachelor\'s degree:', percentage_bachelors)
print('\n4.1- The percentage of people with advanced education that make more than 50K:', higher_education_rich)
print('4.2- The percentage of people without advanced education that make more than 50K:', lower_education_rich)
print('\n5- The minimum number of hours a person works per week:', min_work_hours)
print('\n6- The percentage of the people who work the minimum number of hours per week and have a salary of >50K:', rich_percentage)
print('\n7- The country has the highest percentage of people that earn >50K:', highest_earning_country, ' with ', highest_earning_country_percentage, '%')
print('\n8- The most popular occupation for those who earn >50K in India:', average_age_men)

1- Count per race: race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

2- Average age of men: 39.4

3- The percentage of people who have a Bachelor's degree: 16.4

4.1- The percentage of people with advanced education that make more than 50K: 46.5
4.2- The percentage of people without advanced education that make more than 50K: 17.4

5- The minimum number of hours a person works per week: 1

6- The percentage of the people who work the minimum number of hours per week and have a salary of >50K: 10.0

7- The country has the highest percentage of people that earn >50K: Iran  with  41.9 %

8- The most popular occupation for those who earn >50K in India: 39.4